
    body {
      height: 1000px;
    }
    .container {
      display: flex;
      padding: 5px;
      height: 50px;
      background-color: aquamarine;
      justify-content: space-between;
      position: sticky;
      top: 0;
    }
    
    .container5{
        margin: 10px;
    }
    .footer {
        margin: 0;
        padding: 10px;
      background-color: aquamarine;
    }